#link{
	margin-top: 30px;
}
span {
	margin-left: 15px;
	font-size: 15px;
	color: black;
	font-weight: bold;
}




#playlist{
	margin-top: 25px;
	font-size: 20px;
	background-color:rgba(0, 0, 0, 0.5);
	overflow: scroll;
}
.active a{
	color:green;
	text-decoration:none;
}
ul {
	color: white;
}
li {
	list-style: url(music.png);
}

li a{
	text-decoration: none;
	color:white;
	display:block;
	
	}

li a:hover{
	text-decoration:
	none;
}
html {
	background: no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body{
	background-color: transparent;



}



/*
#searchResult{
	font-weight: bold;
}

div.result{
	width: 300px;
	background-color: gray;
	height: 300px;
	overflow: scroll;
	font-size: 15px;
}*/